<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add Key ="Station_ID" value ="LG01"/>
	<add key="Host_Name" value="DCUServer" />
	<add key="DCU_DB_IP" value="127.0.0.1" />
	<add key="DCU_DB_Port" value="5432" />
	<add key="DCU_DB_Name" value="DCUDB" />
	<add key="DMD_DB_IP" value="127.0.0.1" />
	<add key="DMD_DB_Port" value="5432" />
	<add key="DMD_DB_Name" value="DMDDB" />
	<add key="Current_User_ID" value="DCU Server" />
	<add key="tasktime" value="tasktime;192.168.145.147;6022" />
	<add key="DMD_Server" value="IP=10.107.26.1;Port=7000;Type=Client" />
	<add key="Process" value="TaskDMD" />
	<add key="Process" value="TaskPA" />
  	<add key="Process" value="TaskUPD" />
	<add key="Process" value="TaskCDU" />
	<add key="Process" value="TaskSDU" />
	<add key="Process" value="TaskLPD" />
	<add key="CDUComPort" value="28" />
	<add key="CDUBaudrate" value="38400" />
	<add key="UPDComPort" value="4" />
	<add key="UPDBaudrate" value="38400" />
	<add key="LPDComPort" value="2" />
	<add key="LPDBaudrate" value="38400" />
	<add key="SDUComPort" value="1" />
	<add key="SDUBaudrate" value="38400" />
	<add key="PAComPort" value="6" />
	<add key="PABaudrate" value="9600" />
	<add key="FireDetectorCheckInProgressChinese"  value="火災探測器動作人員確認中請勿驚慌"/>
	<add key="FireDetectorCheckInProgressEnglish"  value="Please do not panic while the fire detector operator is being confirmed."/>

	<add key="FireEmergencyEvacuateCalmlyChinese"  value="發生火災請依照指引鎮定逃生離開"/> 
	<add key="FireEmergencyEvacuateCalmlyEnglish"  value="In the event of a fire, please follow the instructions to calmly escape and leave."/>

	<add key="FireAlarmClearedChinese"          	value="火災警報已解除"/>
	<add key="FireAlarmClearedEnglish"          	value="Fire alarm has been lifted"/>
	<add key="FireDetectorClearConfirmedChinese"	value="經確認先前火災探測器動作已解除請安心"/>
	<add key="FireDetectorClearConfirmedEnglish"	value="Please rest assured that the previous fire detector operation has been confirmed to be deactivated." />

</configuration>
